<!DOCTYPE html>
<html ng-app="portfolioApp">
  <head>
  	<meta charset="utf-8">
    <title>James Portfolio</title>
    <link rel='stylesheet' href='stylesheets/foundation.css'/>
    <link rel="stylesheet" href="stylesheets/app.css"/>
  </head>
  <body ng-controller="BodyCtrl" class="bottom-layer">
	  <nav class="top-bar lightened-2" id="nav-rules">
	  	<div class="wrap">
		    <div class="top-bar-left top-layer">
		    	<ul class="menu nav-item force-clear-color" data-dropdown-menu>
		    		<li><a class="top-layer menu-text accent-color" href="#">James Keophavone</a></li>
			    	<li><a class="accent-color" href="#/wall">Message Wall</a></li>
			    	<li><a class="accent-color" href="#/game">Game</a></li>
			    	<li><a class="accent-color" href="#/about">About</a></li>
		    	</ul>
	    	</div>
	    	<section class="top-bar-right">
	    		<ul class="menu nav-item">
			    	<li><a class="accent-color" href="#/login">Login</a></li>
			    	<li><a class="accent-color" href="#/signup">Signup</a></li>
		    	</ul>
		    </section>
	    </div>
	  </nav>
    <div> <!-- container for content of the page -->
    	<div class="wrap" ng-view></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script src="javascripts/vendor/jquery.js"></script>
    <script src="javascripts/vendor/foundation.min.js"></script>
    <script src="javascripts/vendor/what-input.js"></script>
    <script src="javascripts/portfolio.js"></script>
  </body>
</html>
