<!DOCTYPE html>
<html ng-app="portfolioApp">
  <head>
  	<meta charset="utf-8">
    <title>James Portfolio</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body ng-controller="BodyCtrl">
    <h1>{{title | uppercase}}</h1>
    <p>Welcome to {{title}}</p>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="../portfolio.js"></script>
  </body>
</html>
